.geomuse-component .google-map {
    height: 100vh !important;
}

.geomuse-component .geomuser-container {
    position: relative;
}

.geomuse-component .geomuser-container .geomuser {
    position: relative;
    transition: 0.3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: red;
    box-shadow: 2px 2px 30px rgba(72, 51, 58, 0.83);
    -webkit-animation: geomuser-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: geomuser-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: geomuser-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: geomuser-pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}


.geomuse-component .geomuser-container .geomuser:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.geomuse-component .geomuser-container .playlist-preview {
    display: none;
    /*transition: 03s ease-in;*/
    position: absolute;
    top: 0;
    background-color: rgba(72, 51, 58, 0.78);
    border-radius: 10px;
    width: 250px;
}

.geomuse-component .geomuser-container .playlist-preview .preview-header {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.geomuse-component .geomuser-container .playlist-preview .preview-header .shadow-overlay {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geomuse-component .geomuser-container .playlist-preview .preview-img-body {
    padding: 30px;

}

.geomuse-component  .geomuser-container .geomuser:hover .playlist-preview {
    display: block;
}



@-webkit-keyframes geomuser-pulse {to {box-shadow: 0 0 0 10px rgba(72, 51, 58, 0.83);}}
@-moz-keyframes geomuser-pulse {to {box-shadow: 0 0 0 10px rgba(72, 51, 58, 0.83);}}
@-ms-keyframes geomuser-pulse {to {box-shadow: 0 0 0 10px rgba(72, 51, 58, 0.83);}}
@keyframes geomuser-pulse {to {box-shadow: 0 0 0 10px rgba(72, 51, 58, 0.83);}}
